body{
	background-color: #fff;
}

.container{
	width: 800px;
}

.my-header{
	margin-top: 60px;
}

/*--------- Logo -----------*/
.my-logo{
	position: absolute;
	z-index: 1;
	float: left;
	margin-top: -90px;
	left: 40%;
}

.my-logo img{
	width: 200px;
	height: 300px;
}

/*--------- Menu -----------*/
nav{
	position: relative;
	z-index: 0;
	padding: 20px 20px 40px 10px;
	background-color: yellow;
	margin-top: 120px;
}

nav ul{
	float: right;
}

nav ul li{
	float: left;
	padding: 0 2px;
	color: green;
}

nav ul li a:after{
	padding: 0 4px;
	content: " | ";
	color: green;
}

nav ul li:last-child > a:after{
	content: "";
}

nav ul li a{
	font-size: 18px;
	color: green;
}

nav ul li a:hover{
	background-color: yellow !important;
	color: #fff;
}

/*--------- Redes Sociais -----------*/
.redes-sociais{
	position: absolute;
	z-index: 2;
	margin-top: -45px;
	margin-left: 30px;
}

.redes-sociais img{
	margin-left: 5px;
	width: 30px;
	border-radius: 50px;
}

/*--------- Slide -----------*/
.my-slide{
	width: 100%;
	height: 390px;
	margin-top: 120px;
}

.my-texto-slide p{
	margin-top: 30px;
	font-size: 36px;
	text-align: center;
	font-weight: bolder;
}

.my-mais{
	width: 60px;
	height: 60px;
	background-color: green;
	border-radius: 30px;
	margin-top: 20px;
	position: absolute;
	left: 45%;
}

.my-mais span{
	color: #fff;
	position: relative;
	top: 30%;
	left: 13%;
}

/*--------- Section -----------*/
hr{
	margin: 120px 0 40px 0;
	background-color: #ccc;
	padding: 1px;
}

.a{
	float: left;
}

.b{
	float: right;
}

.section1:last-child{	
	margin-right: -110px;
}

.section1{
	margin: 0 0 50px 0;
}

.section1 h3{
	margin-top: -8px;
	margin-bottom: 10px;
}

.section1 p{
	font-size: 15.5px;
}

.section1 a{
	font-weight: bold;
	color: #000;
	margin-left: 100px;
}

.section1 img{
	width: 130px;
	height: 170px;
}

.hr2{
	margin: -25px 0 40px 0;
}

.my-siga{
	background-color: yellow;
	border-radius: 20px;
	width: 200px;
	height: 300px;
	margin-left: 0;
}

.my-siga h2{
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}

.my-img-siga{
	width: 90px;
	height: 130px;
	position: absolute;
	margin: 0 0 30px 55px;
}

.my-redes{
	width: 50px;
	border-radius: 100px;
	margin: 152px -20px 0 40px;
}

.sec1{
	margin-left: 120px;
	margin-right: -40px;
}

.sec2{
	margin-left: 140px;
	margin-right: -60px;
}

.my-sec-titulo{
	margin-top: -20px;
	margin-left: 320px;
}

.sec p{
	margin-top: 10px;
}

.sec a{
	color: #000;
	font-weight: bolder;
}

/*Footer*/
.hr3{
	margin-top: 25px;
}

footer p{
	font-size: 16px;
	margin-top: -30px;
	margin-bottom: 20px;
	margin-left: 40px;
}

footer .redes-sociais{
	position: absolute;
	left: 85%;
}